{% extends 'dock/layout-landing.html' %}

{% block head %}
{% load static %}
<script src="{% static 'messageboard/messboard.js' %}"></script>
<script src="{% static 'dock/buttons.js' %}"></script>
<script src="{% static 'dock/messages.js'%}"></script>
{% endblock head %}
{% block body %}

    {% comment %} ADD MESSAGE MODAL {% endcomment %}
    <div class="modal" id='messageboard-modalid'>
        <div class="modal-body">
            <div class="modal-header">
                <div class="modal-title">
                    <h1 class='main-text white-text'>Rent</h1>
                </div>

                <div class="close-modal-button">
                    <h3 class='close' id='messageboard-closeid'>&times</h3>
                </div>

            </div>
            <form action="{% url 'messageboard:add-message' profile.name %}" class='center stack-divs padding' method='POST'>
                {% csrf_token %}
                <input type="text" placeholder='Subject' class='form-field' name='form-subject'>
                <input type="text" placeholder='Type your message' class='form-field' name='form-body'>
                <input type="submit" value='Post' class='main-button'>
            </form>

        </div>
    </div>

    <div class="content-wrapper app-banner background-image-divider-main center">
        <h1 class='padding-top white-text main-text big-text'>Messages</h1>
    </div>
    
    <div class="banner next-to-eachother padding-top-small padding-bottom-small">
        <h2 class='main-text'>Life gives us so many things to juggle at once</h2>
        <h3 class='sub-text'>Let us help you communicate and coordinate with your roommates</h3>
    </div>

        {% comment %} MESSAGES DIV {% endcomment %}
        <div class="content-wrapper margin-top" id='message-container'>
            {% if messages %}
            <div class="message-container">
            {% for message in messages %}
                    <div class="message-banner {{message.tags}}">
                        <div class='message-message'>
                            <h4 class='main-text'>{{message}}</h4>
                        </div>
                        
                        <div class='close-modal-button'>
                            <h3 class='close' id='close-messages'>&times</h3>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            {% endif %}
        </div>

    <div class="center next-to-eachother flex-wrap reverse">
        {% if all_messages %}
            {% for mes in all_messages %}
                {% if mes.sender == request.user %}
                    <div class=
                    {% if request.user in mes.users_read.all %}
                        "big-card center stack-divs margin-bottom margin-top margin-right padding-bottom-small read"
                    {% else %}
                        "big-card center stack-divs margin-bottom margin-top margin-right padding-bottom-small"
                    {% endif %} style='height:max-content;'>
                        <h2 class='main-text'>{{mes.subject}}</h2>
                        <h3 class='sub-text'>{{mes.sender}}</h3>
                        <h5 class='sub-text'>{{mes.created_date}}</h5>
                        <div>
                            <a href="{% url 'messageboard:open-message' profile_name=mes.profile date=mes.created_date sender=mes.sender subject=mes.subject %}" class='main-button'>Open</a>
                            <a href="{% url 'messageboard:delete-message' profile_name=mes.profile date=mes.created_date sender=mes.sender subject=mes.subject%}" class='main-button'>Delete</a>
                        </div>
                    </div>
                {% else %}
                <div class=
                {% if request.user in mes.users_read.all %}
                    "big-card center stack-divs margin-bottom margin-top margin-right padding-bottom-small read"
                {% else %}
                    "big-card center stack-divs margin-bottom margin-top margin-right padding-bottom-small"
                {% endif %} style='height:max-content;'>
                    <h2 class='main-text'>{{mes.subject}}</h2>
                    <h3 class='sub-text'>{{mes.sender}}</h3>
                    <h5 class='sub-text'>{{mes.created_date}}</h5>
                    <a href="{% url 'messageboard:open-message' profile_name=mes.profile date=mes.created_date sender=mes.sender subject=mes.subject %}" class='main-button'>Open</a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="big-card center stack-divs margin-bottom margin-top">
                <h2 class='main-text'>Oh no!</h2>
                <h3 class='sub-text'>There aren't any messages yet</h3>
            </div>
        {% endif %}
    </div>

    <div class="center margin-bottom">
        <button class='main-button' id='messageboard-button'>Add a Message</button>
    </div>

{% endblock body %}



