/* line 1, dock/static/dock/styles.scss */
body {
  padding: 0;
  margin: 0; }

/* line 6, dock/static/dock/styles.scss */
html {
  padding: 0;
  margin: 0; }

/* line 14, dock/static/dock/styles.scss */
.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: grey; }

/* line 23, dock/static/dock/styles.scss */
.nav-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }

/* line 30, dock/static/dock/styles.scss */
.nav-options {
  display: flex;
  flex-direction: row;
  list-style: none; }

/* line 36, dock/static/dock/styles.scss */
.nav-option {
  margin-right: 10px; }

/* line 40, dock/static/dock/styles.scss */
.right-in-div {
  display: flex;
  margin-left: auto;
  margin-right: 40px; }

/* line 46, dock/static/dock/styles.scss */
.nav-profile {
  display: flex;
  flex-direction: column;
  position: relative; }

/* line 52, dock/static/dock/styles.scss */
.dropdown-menu {
  background-color: white;
  padding: 0.75rem; }

/* line 57, dock/static/dock/styles.scss */
.dropdown-menu-container.open-menu {
  opacity: 1;
  transform: translateY(0); }

/* line 62, dock/static/dock/styles.scss */
.next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

/* line 70, dock/static/dock/styles.scss */
.dropdown-tools-container {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 81, dock/static/dock/styles.scss */
.dropdown-tools-container.open-menu {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 92, dock/static/dock/styles.scss */
.dropdown-profile-container {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 103, dock/static/dock/styles.scss */
.dropdown-profile-container.open-menu {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  right: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 114, dock/static/dock/styles.scss */
.tools-menu {
  position: relative; }

/* line 118, dock/static/dock/styles.scss */
.logged-out-nav-btn {
  margin-right: 10px; }

/* line 125, dock/static/dock/styles.scss */
.padding-top {
  padding-top: 100px; }

/* line 129, dock/static/dock/styles.scss */
.left-in-div {
  margin-left: 20px; }

/* line 133, dock/static/dock/styles.scss */
.background-image-landing-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3e069ac38158");
  height: 700px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 140, dock/static/dock/styles.scss */
.banner {
  background-color: grey; }

/* line 144, dock/static/dock/styles.scss */
.text-center {
  text-align: center; }

/* line 148, dock/static/dock/styles.scss */
.footer-next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center; }

/* line 154, dock/static/dock/styles.scss */
.stack-divs {
  display: flex;
  flex-direction: column; }

/* line 159, dock/static/dock/styles.scss */
.text-right-in-div {
  text-align: end; }

/* line 163, dock/static/dock/styles.scss */
.text-left-in-div {
  text-align: start; }

/* line 167, dock/static/dock/styles.scss */
.padding-left-big {
  padding-left: 100px; }

/* line 171, dock/static/dock/styles.scss */
.padding-right-big {
  padding-right: 100px; }

/* line 175, dock/static/dock/styles.scss */
.background-image-options-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3e069ac38158");
  height: 500px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 182, dock/static/dock/styles.scss */
.half-div {
  width: 50%; }

/* line 186, dock/static/dock/styles.scss */
.big-text {
  margin: 0; }

/* line 192, dock/static/dock/styles.scss */
.tab {
  height: 100px;
  width: 500px;
  border: solid black 2px; }
