/* line 6, dock/static/dock/styles.scss */
body {
  padding: 0;
  margin: 0; }

/* line 11, dock/static/dock/styles.scss */
html {
  padding: 0;
  margin: 0; }

/* line 16, dock/static/dock/styles.scss */
a:link {
  color: #1d3557;
  text-decoration: none; }

/* line 20, dock/static/dock/styles.scss */
a:visited {
  color: #1d3557;
  text-decoration: none; }

/* line 24, dock/static/dock/styles.scss */
a:hover {
  color: #1d3557;
  text-decoration: none; }

/* line 28, dock/static/dock/styles.scss */
a:active {
  color: #1d3557;
  text-decoration: none; }

@keyframes animatetop {
  from {
    transform: translateY(-400px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes animatebottom {
  from {
    transform: translateY(0);
    opacity: 1;
    transform: scale(1); }
  to {
    transform: translateY(-400px);
    opacivty: 0;
    transform: scale(0); } }

/* line 44, dock/static/dock/styles.scss */
.modal {
  flex-direction: column;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

/* line 58, dock/static/dock/styles.scss */
.modal-header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #1d3557;
  align-items: center;
  justify-content: center;
  width: 100%; }

/* line 69, dock/static/dock/styles.scss */
.close-modal-button {
  display: flex;
  align-items: first baseline;
  margin-right: 20px; }

/* line 75, dock/static/dock/styles.scss */
.modal-title {
  display: flex;
  justify-content: center;
  width: 100%; }

/* line 81, dock/static/dock/styles.scss */
.modal-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  margin: 2% auto;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* line 93, dock/static/dock/styles.scss */
.modal-body.active {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  margin: 2% auto;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  animation-name: animatebottom;
  animation-duration: 0.4s; }

/* line 106, dock/static/dock/styles.scss */
.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  right: 0%;
  margin-top: auto; }

/* line 114, dock/static/dock/styles.scss */
.close:hover {
  cursor: pointer;
  color: grey; }

/* line 120, dock/static/dock/styles.scss */
.message-container {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 125, dock/static/dock/styles.scss */
.message-container.active {
  animation-name: animatebottom;
  animation-duration: 0.4s; }

/* line 130, dock/static/dock/styles.scss */
.message-message {
  display: flex;
  justify-content: start;
  width: 100%; }

/* line 136, dock/static/dock/styles.scss */
.message-banner {
  position: relative;
  width: 85%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  border-radius: 5px;
  animation: animatetop;
  animation-duration: 0.4s; }

/* line 147, dock/static/dock/styles.scss */
.message-banner.success {
  background-color: #ddffdd;
  border: 2px #1d3557 solid; }

/* line 151, dock/static/dock/styles.scss */
.message-banner.warning {
  background-color: #ffaeae;
  border: 2px #1d3557 solid; }

/* line 157, dock/static/dock/styles.scss */
.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px grey solid; }

/* line 166, dock/static/dock/styles.scss */
.link {
  transition: 0.3s; }

/* line 169, dock/static/dock/styles.scss */
.link:hover {
  transform: scale(0.9); }

/* line 173, dock/static/dock/styles.scss */
.main-text {
  font-family: Poppins;
  margin-left: 0;
  margin-right: 0; }

/* line 179, dock/static/dock/styles.scss */
.big-text {
  font-size: 45px !important; }

/* line 183, dock/static/dock/styles.scss */
.sub-text {
  font-family: Poppins;
  color: #383838; }

/* line 188, dock/static/dock/styles.scss */
.white-text {
  color: white; }

/* line 192, dock/static/dock/styles.scss */
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* line 198, dock/static/dock/styles.scss */
.margin-bottom {
  margin-bottom: 20px; }

/* line 202, dock/static/dock/styles.scss */
.margin-right {
  margin-right: 25px; }

/* line 206, dock/static/dock/styles.scss */
.margin-left {
  margin-left: 150px; }

/* line 209, dock/static/dock/styles.scss */
.margin-left-small {
  margin-left: 10px; }

/* line 212, dock/static/dock/styles.scss */
.margin-left-med {
  margin-left: 25px; }

/* line 217, dock/static/dock/styles.scss */
.margin-top {
  margin-top: 50px; }

/* line 220, dock/static/dock/styles.scss */
.margin-top-med {
  margin-top: 25px; }

/* line 223, dock/static/dock/styles.scss */
.margin-top-small {
  margin-top: 10px; }

/* line 227, dock/static/dock/styles.scss */
.main-button-white {
  background-color: white;
  padding: 15px;
  font-family: Poppins;
  border-radius: 2px;
  font-weight: bold;
  transition: 0.3s; }

/* line 235, dock/static/dock/styles.scss */
.main-button-white.active {
  background-color: #868686;
  padding: 12px;
  font-family: Poppins;
  border-radius: 2px;
  font-weight: bold; }

/* line 243, dock/static/dock/styles.scss */
.main-button {
  background-color: #1d3557;
  color: white !important;
  padding: 15px;
  font-family: Poppins;
  width: fit-content;
  border-radius: 2px;
  transition: 0.3s;
  border: none;
  cursor: pointer; }

/* line 254, dock/static/dock/styles.scss */
.main-button.active {
  background-color: #868686;
  color: #1d3557 !important;
  padding: 12px;
  font-family: Poppins;
  width: fit-content;
  border-radius: 2px;
  border: none;
  cursor: pointer; }

/* line 266, dock/static/dock/styles.scss */
.big-card {
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #ebdbd1;
  width: fit-content; }

/* line 274, dock/static/dock/styles.scss */
.nav-margin {
  margin-top: 90px; }

/* line 278, dock/static/dock/styles.scss */
.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  font-family: Poppins;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1; }

/* line 291, dock/static/dock/styles.scss */
.nav-brand {
  font-family: 'Secular One';
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #1d3557;
  transition: 0.5s; }

/* line 299, dock/static/dock/styles.scss */
.nav-brand.active {
  font-family: 'Secular One';
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1d3557;
  transform: translate(-5px, -5px);
  text-shadow: 5px 5px #ebdbd1; }

/* line 309, dock/static/dock/styles.scss */
.nav-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }

/* line 316, dock/static/dock/styles.scss */
.nav-options {
  display: flex;
  flex-direction: row;
  list-style: none; }

/* line 322, dock/static/dock/styles.scss */
.nav-option {
  margin-right: 30px;
  text-decoration: underline;
  transition: 0.4s; }

/* line 327, dock/static/dock/styles.scss */
.nav-option.active {
  margin-right: 30px;
  transform: scale(0.9);
  text-decoration: none; }

/* line 333, dock/static/dock/styles.scss */
.right-in-div {
  display: flex;
  margin-left: auto;
  margin-right: 40px; }

/* line 339, dock/static/dock/styles.scss */
.nav-profile {
  display: flex;
  flex-direction: column;
  position: relative; }

/* line 345, dock/static/dock/styles.scss */
.dropdown-menu {
  background-color: white;
  padding: 0;
  width: max-content; }

/* line 351, dock/static/dock/styles.scss */
.dropdown-menu-option {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ebdbd1;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  transition: 0.3s; }

/* line 362, dock/static/dock/styles.scss */
.dropdown-menu-option.active {
  border: 1px solid #ebdbd1;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #ebdbd1; }

/* line 372, dock/static/dock/styles.scss */
#hover-profile-dropdownid {
  transition: 0.4s; }

/* line 375, dock/static/dock/styles.scss */
#hover-profile-dropdownid.active {
  transform: scale(0.9); }

/* line 379, dock/static/dock/styles.scss */
.dropdown-menu-container.open-menu {
  opacity: 1;
  transform: translateY(0); }

/* line 384, dock/static/dock/styles.scss */
.next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

/* line 392, dock/static/dock/styles.scss */
.dropdown-tools-container {
  position: absolute;
  border: #ebdbd1 2px solid;
  top: 20px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 403, dock/static/dock/styles.scss */
.dropdown-tools-container.open-menu {
  position: absolute;
  border: #ebdbd1 2px solid;
  top: 20px;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 414, dock/static/dock/styles.scss */
.dropdown-profile-container {
  position: absolute;
  border: #ebdbd1 2px solid;
  top: 20px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 425, dock/static/dock/styles.scss */
.dropdown-profile-container.open-menu {
  position: absolute;
  border: #ebdbd1 2px solid;
  top: 20px;
  right: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 436, dock/static/dock/styles.scss */
.tools-menu {
  position: relative; }

/* line 440, dock/static/dock/styles.scss */
.logged-out-nav-btn {
  margin-right: 10px;
  transition: 0.3s; }

/* line 444, dock/static/dock/styles.scss */
.logged-out-nav-btn.active {
  margin-right: 10px;
  transform: scale(0.9); }

/* line 452, dock/static/dock/styles.scss */
.padding {
  padding: 10px; }

/* line 456, dock/static/dock/styles.scss */
.padding-top {
  padding-top: 100px; }

/* line 460, dock/static/dock/styles.scss */
.padding-top-small {
  padding-top: 25px; }

/* line 464, dock/static/dock/styles.scss */
.padding-bottom-small {
  padding-bottom: 25px; }

/* line 468, dock/static/dock/styles.scss */
.padding-bottom {
  padding-bottom: 100px; }

/* line 472, dock/static/dock/styles.scss */
.padding-top-small {
  padding-top: 15px; }

/* line 476, dock/static/dock/styles.scss */
.background-image-landing-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3f01c6093c87");
  height: 700px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 483, dock/static/dock/styles.scss */
.banner {
  background-color: #ebdbd1; }

/* line 487, dock/static/dock/styles.scss */
.text-center {
  text-align: center; }

/* line 491, dock/static/dock/styles.scss */
.footer-next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center; }

/* line 497, dock/static/dock/styles.scss */
.stack-divs {
  display: flex;
  flex-direction: column; }

/* line 502, dock/static/dock/styles.scss */
.text-right-in-div {
  text-align: end; }

/* line 506, dock/static/dock/styles.scss */
.text-left-in-div {
  text-align: start; }

/* line 510, dock/static/dock/styles.scss */
.padding-left-big {
  padding-left: 100px; }

/* line 513, dock/static/dock/styles.scss */
.padding-left-med {
  padding-left: 50px; }

/* line 516, dock/static/dock/styles.scss */
.padding-left-small {
  padding-left: 10px; }

/* line 520, dock/static/dock/styles.scss */
.padding-right-big {
  padding-right: 100px; }

/* line 524, dock/static/dock/styles.scss */
.background-image-options-main {
  background-image: url("/static/media/tools-main.jpeg?b281d055ad2a");
  height: 500px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 532, dock/static/dock/styles.scss */
.half-div {
  width: 50%; }

/* line 535, dock/static/dock/styles.scss */
.quarter-div {
  width: 25%; }

/* line 539, dock/static/dock/styles.scss */
.big-text {
  margin: 0; }

/* line 546, dock/static/dock/styles.scss */
.tab {
  height: 100px;
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Poppins;
  transition: 0.4s;
  color: #383838; }

/* line 556, dock/static/dock/styles.scss */
.tab.active {
  height: 100px;
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Poppins;
  color: #1d3557;
  transform: scale(1.3);
  text-decoration: underline; }

/* line 568, dock/static/dock/styles.scss */
.tab-display-only {
  height: 100px;
  width: 200px;
  border: solid black 2px;
  background-color: white; }

/* line 575, dock/static/dock/styles.scss */
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* line 582, dock/static/dock/styles.scss */
.background-image-divider-main {
  background-image: url("/static/media/rent-divider.jpeg?27cef660dfba");
  height: 500px;
  background-position: 20% 50%;
  background-size: 95%; }

/* line 589, dock/static/dock/styles.scss */
.background-image-app-main {
  background-image: url("/static/media/app-main-image.jpeg?f695ed0f852c");
  height: 300px;
  background-position: 20% 55%;
  background-size: 100%; }

/* line 597, dock/static/dock/styles.scss */
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 605, dock/static/dock/styles.scss */
.app-page {
  display: flex;
  flex-direction: row;
  justify-content: start; }

/* line 611, dock/static/dock/styles.scss */
.app-content {
  display: flex;
  height: 500px;
  justify-content: start;
  align-items: center; }

/* line 618, dock/static/dock/styles.scss */
.flex-start {
  align-items: flex-start; }

/* line 622, dock/static/dock/styles.scss */
.app-card {
  padding: 20px;
  box-shadow: 3px 3px 5px 1px grey;
  margin: 10px; }
