/* line 4, dock/static/dock/styles.scss */
body {
  padding: 0;
  margin: 0; }

/* line 9, dock/static/dock/styles.scss */
html {
  padding: 0;
  margin: 0; }

/* line 14, dock/static/dock/styles.scss */
a:link {
  color: #1d3557;
  text-decoration: none; }

/* line 18, dock/static/dock/styles.scss */
a:visited {
  color: #1d3557;
  text-decoration: none; }

/* line 22, dock/static/dock/styles.scss */
a:hover {
  color: #1d3557;
  text-decoration: none; }

/* line 26, dock/static/dock/styles.scss */
a:active {
  color: #1d3557;
  text-decoration: none; }

@keyframes animatetop {
  from {
    transform: translateY(-400px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/* line 38, dock/static/dock/styles.scss */
.modal {
  flex-direction: column;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

/* line 52, dock/static/dock/styles.scss */
.modal-header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: grey;
  align-items: center;
  justify-content: center;
  width: 100%; }

/* line 63, dock/static/dock/styles.scss */
.close-modal-button {
  display: flex;
  align-items: first baseline; }

/* line 68, dock/static/dock/styles.scss */
.modal-title {
  display: flex;
  justify-content: center;
  width: 100%; }

/* line 74, dock/static/dock/styles.scss */
.modal-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  margin: 2% auto;
  border: 2px solid black;
  width: 25%;
  height: 40%;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* line 87, dock/static/dock/styles.scss */
.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  right: 0%;
  margin-top: auto; }

/* line 95, dock/static/dock/styles.scss */
.close:hover {
  cursor: pointer;
  color: grey; }

/* line 101, dock/static/dock/styles.scss */
.main-text {
  font-family: Poppins;
  margin-left: 0;
  margin-right: 0; }

/* line 107, dock/static/dock/styles.scss */
.subtext {
  font-family: Poppins; }

/* line 111, dock/static/dock/styles.scss */
.white-text {
  color: white; }

/* line 115, dock/static/dock/styles.scss */
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* line 121, dock/static/dock/styles.scss */
.margin-left {
  margin-left: 150px; }

/* line 125, dock/static/dock/styles.scss */
.margin-top {
  margin-top: 50px; }

/* line 129, dock/static/dock/styles.scss */
.main-button-white {
  background-color: white;
  padding: 15px;
  font-family: Poppins; }

/* line 135, dock/static/dock/styles.scss */
.main-button {
  background-color: #1d3557;
  color: white !important;
  padding: 15px;
  font-family: Poppins; }

/* line 142, dock/static/dock/styles.scss */
.text-center {
  text-align: center; }

/* line 148, dock/static/dock/styles.scss */
.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: grey; }

/* line 157, dock/static/dock/styles.scss */
.nav-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }

/* line 164, dock/static/dock/styles.scss */
.nav-options {
  display: flex;
  flex-direction: row;
  list-style: none; }

/* line 170, dock/static/dock/styles.scss */
.nav-option {
  margin-right: 10px; }

/* line 174, dock/static/dock/styles.scss */
.right-in-div {
  display: flex;
  margin-left: auto;
  margin-right: 40px; }

/* line 180, dock/static/dock/styles.scss */
.nav-profile {
  display: flex;
  flex-direction: column;
  position: relative; }

/* line 186, dock/static/dock/styles.scss */
.dropdown-menu {
  background-color: white;
  padding: 0.75rem; }

/* line 191, dock/static/dock/styles.scss */
.dropdown-menu-container.open-menu {
  opacity: 1;
  transform: translateY(0); }

/* line 196, dock/static/dock/styles.scss */
.next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

/* line 204, dock/static/dock/styles.scss */
.dropdown-tools-container {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 215, dock/static/dock/styles.scss */
.dropdown-tools-container.open-menu {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 226, dock/static/dock/styles.scss */
.dropdown-profile-container {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s; }

/* line 237, dock/static/dock/styles.scss */
.dropdown-profile-container.open-menu {
  position: absolute;
  box-shadow: 5px 5px 5px grey;
  top: 20px;
  right: 0;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s; }

/* line 248, dock/static/dock/styles.scss */
.tools-menu {
  position: relative; }

/* line 252, dock/static/dock/styles.scss */
.logged-out-nav-btn {
  margin-right: 10px; }

/* line 259, dock/static/dock/styles.scss */
.padding-top {
  padding-top: 100px; }

/* line 263, dock/static/dock/styles.scss */
.background-image-landing-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3f01c6093c87");
  height: 700px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 270, dock/static/dock/styles.scss */
.banner {
  background-color: #e2e2e2; }

/* line 274, dock/static/dock/styles.scss */
.text-center {
  text-align: center; }

/* line 278, dock/static/dock/styles.scss */
.footer-next-to-eachother {
  display: flex;
  flex-direction: row;
  align-items: center; }

/* line 284, dock/static/dock/styles.scss */
.stack-divs {
  display: flex;
  flex-direction: column; }

/* line 289, dock/static/dock/styles.scss */
.text-right-in-div {
  text-align: end; }

/* line 293, dock/static/dock/styles.scss */
.text-left-in-div {
  text-align: start; }

/* line 297, dock/static/dock/styles.scss */
.padding-left-big {
  padding-left: 100px; }

/* line 301, dock/static/dock/styles.scss */
.padding-right-big {
  padding-right: 100px; }

/* line 305, dock/static/dock/styles.scss */
.background-image-options-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3f01c6093c87");
  height: 500px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 313, dock/static/dock/styles.scss */
.half-div {
  width: 50%; }

/* line 317, dock/static/dock/styles.scss */
.big-text {
  margin: 0; }

/* line 324, dock/static/dock/styles.scss */
.tab {
  height: 100px;
  width: 200px;
  border: solid black 2px;
  background-color: white;
  cursor: pointer; }

/* line 332, dock/static/dock/styles.scss */
.tab-display-only {
  height: 100px;
  width: 200px;
  border: solid black 2px;
  background-color: white; }

/* line 339, dock/static/dock/styles.scss */
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px; }

/* line 346, dock/static/dock/styles.scss */
.background-image-app-main {
  background-image: url("/static/media/landing-page-main-image.jpeg?3f01c6093c87");
  height: 200px;
  background-position: 20% 90%;
  background-size: 95%; }

/* line 353, dock/static/dock/styles.scss */
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 361, dock/static/dock/styles.scss */
.app-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* line 367, dock/static/dock/styles.scss */
.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 50%; }

/* line 376, dock/static/dock/styles.scss */
.flex-start {
  align-items: flex-start; }

/* line 380, dock/static/dock/styles.scss */
.app-card {
  padding: 20px;
  box-shadow: 3px 3px 5px 1px grey;
  margin: 10px; }
