{% extends 'dock/layout-landing.html' %}

{% block body %}

<h1 style='padding: 50px'>Create profile</h1>

<div class="content-wrapper">
    <form action="{% url 'rentsplit:create-profile'%}" method='POST'>
        {% csrf_token %}
    
        <input type="text" name='room-name' placeholder='Room Name'>
    
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        
        <input type="text" name='users' placeholder='users'>
    
        <input type="submit" name="" id="">
    
    </form>
</div>

{% endblock body %}