{% extends 'dock/layout-landing.html' %}

{% load static %}

{% block head %}
<script src="{% static 'rentsplit/rentsplit.js'%}"></script>
<script src="{% static 'dock/buttons.js' %}"></script>
{% endblock head %}

{% block body %}
{% comment %} MODAL {% endcomment %}

{% comment %} ADD USER MODAL {% endcomment %}
<div class="modal" id='add-user-modal'>
    <div class="modal-body">
        <div class="modal-header">
            <div class="modal-title">
                <h1 class='main-text white-text padding-right-small padding-left-small'>Add a Roommate</h1>
            </div>

            <div class="close-modal-button">
                <h3 class='close' id='add-user-modal-close'>&times</h3>
            </div>
        </div>

        <form action="{% url 'rentsplit:add-user' profile_name=profile.name %}" method='POST' class='stack-divs center padding'>
            {% csrf_token %}
            <input type="text" name='username' placeholder='Add a user by username' class='form-field'>
            <div class='center'>
                <input class='main-button' type="submit" value='Add'>
            </div>
        </form>
    </div>
</div>

{% comment %} RESET EXPENSES CONFIRM MODAL {% endcomment %}
<div class="modal" id='reset-expenses-modal'>
    <div class="modal-body">
        <div class="modal-header">
            <div class="modal-title">
                <h1 class='main-text white-text'>Reset Profile Expenses</h1>
            </div>

            <div class="close-modal-button">
                <h3 class='close' id='reset-expenses-modal-close'>&times</h3>
            </div>
        </div>

        <div class="content-wrapper padding center stack-divs">
            <h5 class='main-text'>Are you sure you want to reset all of the profile's expenses?</h5>

            <div class="center">
                <a href="{% url 'rentsplit:reset-profile' profile_name=profile.name %}" class='main-button margin-right'>I'm Sure</a>
                <button class='main-button' id='reset-expenses-modal-cancel'>Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>

{% comment %} RENT MODAL {% endcomment %}
    <div class="modal" id='rent-modalid'>
        <div class="modal-body">
            <div class="modal-header">
                <div class="modal-title">
                    <h1 class='main-text white-text'>Rent</h1>
                </div>

                <div class="close-modal-button">
                    <h3 class='close' id='rent-closeid'>&times</h3>
                </div>
            </div>

            <form action="{% url 'rentsplit:update-rent' profile_name=profile.name %}" method='POST' class='center stack-divs padding'>
                {% csrf_token %}
                <input type="number" step='0.01' name='rent' placeholder='Enter your rent total' class='form-field'>

                <input type="submit" class='main-button'>
            </form>
        </div>
    </div>

{% comment %} EXPENSES MODAL {% endcomment %}

        {% comment %} Modal form to add expenses {% endcomment %}
    
    <div class="modal" id='expense-modalid'>
        
        <div class='modal-body'>
            <div class="modal-header">
                <div class="modal-title">
                    <h1 class='main-text white-text padding-right-small padding-left-small'>Expenses</h1>
                </div>
                
                <div class='close-modal-button'>
                    <h3 class='close' id='expenses-closeid'>&times</h3>
                </div>
            </div>
            
            <form action="{% url 'rentsplit:add-expense' profile_name=profile.name %}" method='POST' class='padding stack-divs center'>
                {% csrf_token %}
                <div class="stack-divs">
                    <input type="text" name='name' placeholder='Name Your Expense' class='form-field'>
                    <input type="number" step='0.01' name='amount' placeholder='Enter the Amount' class='form-field'>
                    <input type="hidden" name="expense-user" value='{{ current_user }}'>
                    <div class="center">
                        <input type="submit" value='Save Expense' class='main-button'>
                    </div>
                </div>
            
            </form>
        </div>

    </div>

<div class="content-wrapper app-banner background-image-app-main center">
    <h1 class='main-text white-text big-text padding-top'>Rent Divider</h1>
</div>

{% comment %} MESSAGES DIV {% endcomment %}
<div class="content-wrapper message-container">
    {% if messages %}
        {% for message in messages %}
            <div class="message-banner">
                <h3 {% if message.tags %} class='{{ message.tags }} subtext' {% else %} class='main-text'{% endif %}>{{message}}</h3>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="content-wrapper banner padding-top-small padding-bottom-small next-to-eachother">
    <h2 class='main-text'>{{ profile.name }}</h2>
    <h4 class='sub-text'>{{profile.description}}</h4>
</div>

{% comment %} TABS {% endcomment %}

<div class="content-wrapper app-page next-to-eachother">

    <div class="tabs quarter-div">

        <div class="tab center" id='tab-userid'>
            <h2 class='main-text'>Profile</h2>
        </div>

        <div class="tab center" id='tab-expenseid'>
            <h2 class='main-text'>Expenses</h2>
        </div>

        <div class="tab center" id='tab-resultsid'>
            <h2 class='main-text'>Results</h2>
        </div>

    </div>

    {% comment %} APP CONTENT {% endcomment %}
    {% comment %} MAIN INFO USER TAB {% endcomment %}

    <div class="content-wrapper app-content half-div next-to-eachother" id='app-userid'>

        <div class="center stack-divs big-card">
            <h2 class='main-text'>This Month's Rent: ${{profile.rent}}</h2>
            {% for key, value in calculated_rents.items %}
                {% if key == request.user.username %}
                    <h3 class='sub-text'>Your Split: ${{ value|floatformat:2 }}</h3>
                {% endif %}
            {% endfor %}
            <button class='main-button margin-bottom' id='rent-buttonid'>Update Rent</button>
            <button class='main-button' id='reset-profile-button'>Reset Profile Expenses</button>
        </div>

        {% comment %} USERS {% endcomment %}
        <div class='stack-divs center big-card margin-left-med'>
            <h2 class='main-text'>Roommates</h2>

            {% for user in profile_users %}
            <h4 class='sub-text'>{{ user.username }}</h4>
            {% endfor %}
            <button class='main-button margin-bottom' id='add-user-in-profile'>Add Another Roommate</button>
        </div>

    </div>
    
    {% comment %} EXPENSES {% endcomment %}

    <div class="content-wrapper app-content center half-div" id='app-expenseid'>
        <div class="stack-divs center">
            <div class="content-wrapper center flex-start">
                {% for user in profile_users %}
                    <div class='center stack-divs big-card margin-right'>
                        <h2 class='main-text'>{{user.username}}</h2>
                        {% if user.expense_fr_user.all %}
                                {% for expense in user.expense_fr_user.all %}
                                    <h4 class='sub-text'>{{expense.name}}: ${{expense.amount|floatformat:2}}</h4>
                                    {% if user == request.user %}
                                    <a href="{% url 'rentsplit:remove-expense' expense_name=expense.name profile_name=profile.name%}" class='link'>Remove</a>
                                    {% endif %}
                                {% endfor %}
                        {% else %}
                            <h3 class='sub-text'>No Expenses</h3>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button class='main-button margin-top' id='expense-modal-openid'>Add an Expense</button>
        </div>

    </div>
    
    {% comment %} RESULTS {% endcomment %}
    <div class="content-wrapper app-content center half-div" id='app-resultsid'>
        <div class="content-wrapper center flex-start">
            {% for key, value in calculated_rents.items %}
                <div class="center stack-divs big-card margin-right">
                    <h2 class='main-text'>{{ key }}</h2>
                    <h3 class='sub-text'>${{ value | floatformat:2 }}</h3>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}