{% extends 'dock/layout-landing.html' %}

{% block head %}
{% load static %}
    <script src="{% static 'dock/buttons.js' %}"></script>
{% endblock head %}

{% block body %}


<div class="content-wrapper center nav-margin">
    <div class="big-card center stack-divs margin-bottom">
        <h2 class='main-text'>Log In</h2>

        <form action="" method='POST'>
            {% csrf_token %}
            
            <div class="form-fields stack-divs center">
                <input type="text" name="username" placeholder='Username' class='form-field'>
        
                <input type="password" name="password" placeholder='Password' class='form-field'>
        
                <input type="submit" value='Log In' class='main-button'>

            </div>

                <h5 class='sub-text'>
                    <div class="next-to-eachother">
                        New to Roommate Dock?
                        <div class="link padding-left-small">
                            <a href="{% url 'users:register' %}">Create An Account!</a>
                        </div>
                    </div>
                </h5>
            
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
    
        </form>



    </div>
</div>

{% endblock body %}