{% extends 'dock/layout-landing.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'dock/buttons.js' %}"></script>
{% endblock head %}

{% block body %}
<div class="center">

    <div class="content-wrapper center nav-margin margin-bottom mobile-width">
        <div class="big-card center stack-divs">
            <h2 class='main-text'>Create Your Account</h2>
        <form action="" method='POST' class='center stack-divs'>
            {% csrf_token %}
                    <div class="form-fields">
                        {{ form.username }}
                    
                        {{ form.email }}
                    
                        {{ form.password1 }}
                    
                        {{ form.password2 }}
                    
                        {{ form.errors }}
                    </div>
        
                    <input type="submit" name='create-user' class='main-button'>
                </form>
    
                <h4 class='sub-text'>
                    <div class="next-to-eachother">
                        Already Have an Account? 
                        <div class="link">
                            <a href="{% url 'users:login' %}" class='padding-left-small'>Log In</a>
                        </div>
                    </h4>
                    </div>
            </div>
        </div>
</div>


{% endblock body %}