body {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

//MODAL
    .modal {
        flex-direction: column;
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: white;
        margin: 25% auto;
        border: 2px solid black;
        width: 70%;
    }

    .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover {
        cursor: pointer;
        color: grey;
    }

//NAV BAR
//COMPUTER SIZE

    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: grey;
    }

    .nav-contents {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-options {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .nav-option {
        margin-right: 10px;
    }

    .right-in-div {
        display: flex;
        margin-left: auto;
        margin-right: 40px;
    }

    .nav-profile {
        display: flex;
        flex-direction: column;
        position: relative;
    }
        
    .dropdown-menu {
        background-color: white;
        padding: 0.75rem;
    }

    .dropdown-menu-container.open-menu {
        opacity: 1;
        transform: translateY(0);
    }

    .next-to-eachother {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .dropdown-tools-container {
        position: absolute;
        box-shadow: 5px 5px 5px grey;
        top: 20px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 0.3s, transform 0.3s;
    }

    .dropdown-tools-container.open-menu {
        position: absolute;
        box-shadow: 5px 5px 5px grey;
        top: 20px;
        left: 0;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 0.3s, transform 0.3s;
    }

    .dropdown-profile-container {
        position: absolute;
        box-shadow: 5px 5px 5px grey;
        top: 20px;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 0.3s, transform 0.3s;
    }

    .dropdown-profile-container.open-menu {
        position: absolute;
        box-shadow: 5px 5px 5px grey;
        top: 20px;
        right: 0;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 0.3s, transform 0.3s;
    }

    .tools-menu {
        position: relative;
    }

    .logged-out-nav-btn {
        margin-right: 10px;
    }

// LANDING PAGE
// COMPUTER SIZE

    .padding-top {
        padding-top: 100px;
    }

    .left-in-div {
        margin-left: 20px;
    }

    .background-image-landing-main {
        background-image: url('../media/landing-page-main-image.jpeg');
        height: 700px;
        background-position: 20% 90%;
        background-size: 95%;
    }

    .banner {
        background-color: grey;
    }

    .text-center {
        text-align: center;
    }

    .footer-next-to-eachother {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .stack-divs {
        display: flex;
        flex-direction: column ;
    }

    .text-right-in-div {
        text-align: end;
    }

    .text-left-in-div {
        text-align: start;
    }

    .padding-left-big {
        padding-left: 100px;
    }
    
    .padding-right-big {
        padding-right: 100px;
    }

    .background-image-options-main {
            background-image: url('../media/landing-page-main-image.jpeg');
            height: 500px;
            background-position: 20% 90%;
            background-size: 95%;
    }

    
    .half-div {
        width: 50%;
    }
    
    .big-text {
        margin: 0;
    }

    
//TABS

.tab {
    height: 100px;
    width: 200px;
    border: solid black 2px;
    background-color: white;
    cursor: pointer;
}

.tab-display-only {
    height: 100px;
    width: 200px;
    border: solid black 2px;
    background-color: white;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    }
    
    .background-image-app-main {
            background-image: url('../media/landing-page-main-image.jpeg');
            height: 200px;
            background-position: 20% 90%;
            background-size: 95%;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

//APP

    .app-page {
        display: flex;
        flex-direction: row;
    }

//MESSAGES
    .message-banner {
        z-index: 1;
    }
