{% extends 'dock/layout-landing.html' %}

{% block head %}
{% load static %}
<script src="{% static 'dock/buttons.js' %}"></script>
<script src="{% static 'dock/landing.js' %}"></script>
{% endblock head %}

{% block body %}


    {% comment %} MAIN PART OF PAGE {% endcomment %}
    <div class="content-wrapper background-image-landing-main vertical-center">
        <div class="main-title margin-left white-text margin-left margin-top">

            <h1 class='main-text top-of-title padding-top big-text'>Make Living With Roommates</h1>
            <h1 class='main-text left-in-div bottom-of-title big-text'>Easier Than Ever</h1>

            <div class='margin-top-med'>
                <a href="{% url 'options' %}" class='main-button-white'>Get Started</a>
            </div>
        </div>
    </div>

    {% comment %} SNIPPET OF QUICK INFO {% endcomment %}
    <div class="content-wrapper">
        <div class="next-to-eachother banner padding-top-small padding-bottom-small">

            <div class='half-div padding-left-med'>
                <h2 class='main-text'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat consequatur sunt sint nemo odit odio?</h2>
            </div>
            
            <div class='half-div sub-text padding-left-med'>
                <h3 class='sub-text'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, asperiores.</h3>
            </div>

        </div>
    </div>

    {% comment %} SECTIONS THAT LIST APPS {% endcomment %}
    <div class="content-wrapper next-to-eachother">

        <div class="half-div padding-left-big">

            <h2 class='main-text'>Lorem ipsum dolor sit amet.</h2>
            <div class="sub-text">
                <h3 class='sub-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur assumenda, maiores consectetur illo placeat?</h3>
            </div>
            <div class="padding-top-small">
                <a href="{% url 'rentsplit:index' %}" class='main-button'>Try it Now</a>
            </div>

        </div>

        <div class="half-div padding-top">
            {% load static %}
            <img src="{% static 'media/sharing-money.jpg' %}" alt="Roommate Dock" width='500px'>
        </div>

    </div>
    
    <div class="content-wrapper next-to-eachother">

        
        <div class="half-div padding-top padding-left-big padding-bottom">
            {% load static %}
            <img src="{% static 'media/message-board.jpg' %}" alt="Roommate Dock" width='500px'>
        </div>
        <div class="half-div">

            <h2 class='main-text'>Lorem ipsum dolor sit amet.</h2>
            <div class="sub-text">
                <h3 class='sub-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur assumenda, maiores consectetur illo placeat?</h3>
            </div>
            <div class="padding-top-small">
                <a href="{% url 'index' %}" class='main-button'>Try it Now</a>
            </div>

        </div>
        
    </div>



    {% comment %} CREATE AN ACCOUNT DIV OR LOG IN {% endcomment %}
    <div class="content-wrapper banner next-to-eachother padding-top-small padding-bottom-small">

        <div class="half-div stack-divs center">
            <h1 class='main-text'>Gain access to all of them for free</h1>
            <div class="margin-top-med">
                <a href="{% url 'users:register'%}" class='main-button'>Create an account</a>
                <a href="{% url 'users:login'%}" class='main-button margin-left-small'>Log in</a>
            </div>
        </div>
        
        <div class="half-div center stack-divs">
            <h2 class='main-text'>Features Include:</h2>
            <div class="padding-left-med">
                <h3 class='sub-text'>Lorem, ipsum.</h3>
                <h3 class='sub-text'>Lorem, ipsum.</h3>
                <h3 class='sub-text'>Lorem, ipsum.</h3>
            </div>
        </div>
    </div>

    {% comment %} TRY WITHOUT AN ACCOUNT SECTION SECTION {% endcomment %}
    <div class='content-wrapper next-to-eachother'>
        <div class="half-div center stack-divs">
            <h2 class='main-text'>Let us handle the stress:</h2>
            <div class='padding-left-med'>
                <h3 class='sub-text'>Lorem, ipsum.</h3>
                <h3 class='sub-text'>Lorem, ipsum.</h3>
                <h3 class='sub-text'>Lorem, ipsum.</h3>
            </div>
        </div>

        <div class="half-div center stack-divs">
            <h2 class='main-text'>Check out what we can do</h2>
            <div class="margin-top-med">
                <a href="{% url 'options'%}" class='main-button'>See More</a>
            </div>
        </div>


    </div>

{% endblock body %}