{% extends 'dock/layout-landing.html' %}

{% block head %}
{% load static %}
<script src="{% static 'dock/buttons.js' %}"></script>
<script src="{% static 'dock/landing.js' %}"></script>
{% endblock head %}

{% block body %}


    {% comment %} MAIN PART OF PAGE {% endcomment %}
    <div class="content-wrapper background-image-landing-main vertical-center">
        <div class="main-title margin-left white-text margin-left margin-top mobile-padding">

            <h1 class='main-text top-of-title padding-top big-text'>Make Living With Roommates</h1>
            <h1 class='main-text left-in-div bottom-of-title big-text'>Easier Than Ever</h1>

            <div class='margin-top-med'>
                <a href="{% url 'options' %}" class='main-button-white'>Get Started</a>
            </div>
        </div>
    </div>

    {% comment %} SNIPPET OF QUICK INFO {% endcomment %}
    <div class="content-wrapper banner next-to-eachother padding-top-small padding-bottom-small">
            <div class="half-div" style='text-align:center;'>
                <h2 class='main-text'>There are so many things to juggle in life. When renting a property, things get even more complicated</h2>
            </div>
            
            <div class="half-div" style='text-align:center;'>
                <h3 class='sub-text'>We're here to to lend a helping hand</h3>
            </div>
    </div>

    {% comment %} SECTIONS THAT LIST APPS {% endcomment %}
    <div class="content-wrapper next-to-eachother mobile-flip mobile-fit-content">

        <div class="half-div padding-left-big">

            <h2 class='main-text'>Rent Divider</h2>
            <div class="sub-text">
                <h3 class='sub-text'>Trying to decide who owes who how much money gets confusing. How much do I owe you for electric? Water? Groceries? With Rent Divider, we make it simple.</h3>
            </div>
            <div class="padding-top-small">
                <a href="{% url 'rentsplit:index' %}" class='main-button'>Try it Now</a>
            </div>

        </div>

        <div class="half-div padding-top image">
            {% load static %}
            <img src="{% static 'media/sharing-money.jpg' %}" alt="Roommate Dock" width='500px'>
        </div>

    </div>
    
    <div class="content-wrapper next-to-eachother mobile-fit-content">

        
        <div class="half-div padding-top padding-left-big padding-bottom image">
            {% load static %}
            <img src="{% static 'media/message-board.jpg' %}" alt="Roommate Dock" width='500px'>
        </div>
        <div class="half-div">

            <h2 class='main-text'>Message Board</h2>
            <div class="sub-text">
                <h3 class='sub-text'>Sometime important messages get lost in big group chats or under dozens of texts. Our message board will give you a space exclusively for you and your roommates.</h3>
            </div>
            <div class="padding-top-small">
                <a href="{% url 'index' %}" class='main-button'>Try it Now</a>
            </div>

        </div>
        
    </div>



    {% comment %} CREATE AN ACCOUNT DIV OR LOG IN {% endcomment %}
    <div class="content-wrapper banner next-to-eachother padding-top-small padding-bottom-small">

        <div class="half-div stack-divs center">
            <h1 class='main-text'>Gain access to all of it for free</h1>
            <div class="margin-top-med mobile-center">
                <a href="{% url 'users:register'%}" class='main-button'>Create an account</a>
                <a href="{% url 'users:login'%}" class='main-button margin-left-small'>Log in</a>
            </div>
        </div>
        
        <div class="half-div center stack-divs">
            <h2 class='main-text'>Unlimited access to our tools</h2>
            <div class="padding-left-med">
                <h3 class='sub-text'>Optimized of mobile and computer screens</h3>
                <h3 class='sub-text'>No committment</h3>
            </div>
        </div>
    </div>

    {% comment %} TRY WITHOUT AN ACCOUNT SECTION SECTION {% endcomment %}
    <div class='content-wrapper next-to-eachother mobile-fit-content'>
        <div class="half-div center stack-divs">
            <h2 class='main-text'>Let us handle the stress:</h2>
            <div class='padding-left-med'>
                <h3 class='sub-text'>Finance</h3>
                <h3 class='sub-text'>Communication</h3>
            </div>
        </div>

        <div class="half-div center stack-divs">
            <h2 class='main-text'>Check out what we can do</h2>
            <div class="margin-top-med">
                <a href="{% url 'options'%}" class='main-button'>See More</a>
            </div>
        </div>


    </div>

{% endblock body %}