<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% load compress %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'dock/script.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Secular+One">


    {% compress css %}
    <link href="{% static 'dock/styles.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}

    <title>Home</title>

    {% block head %}
    {% endblock head %}

</head>
<body>

    {% comment %} NAV BAR {% endcomment %}

    <div class="nav-container">

        <div class="nav-contents">

            <div class="left-in-div">
                <a href="{% url 'index' %}"><h3 class='nav-brand padding-left-med'>Roommate Dock</h3></a>
            </div>
            <div class="nav-options-container">

                <ul class='nav-options'>
                    <li class='nav-option'><a href="{% url 'index' %}">Home</a></li>
                    <div class='tools-menu'>
                        <li class='nav-option hover-dropdown' id='hover-tools-dropdownid'><a href="{% url 'options' %}">Tools</a></li>
                            
                        <div class="dropdown-tools-container" id='dropdown-tools-containerid'>
    
                                <div class="dropdown-menu">
    
                                    <div class="dropdown-menu-option">
                                        <a href="{% url 'index'%}">Option</a>
                                    </div>
                                    
                                    <div class="dropdown-menu-option">
                                        <a href="{% url 'index'%}">Option</a>
                                    </div>
                                    
                                    <div class="dropdown-menu-option">
                                        <a href="{% url 'index'%}">Option</a>
                                    </div>
    
                                </div>
    
                            </div>
                        </div>

                        <li class='nav-option'><a href="{% url 'index' %}">Option</a></li>
                        <li class='nav-option'><a href="{% url 'index' %}">Option</a></li>
                    </ul>


            </div>

            {% comment %} IF USER IS AUTHENTICATED THEY SEE PROFILE {% endcomment %}
            {% if user.is_authenticated %}
            
            <div class="right-in-div nav-profile">

                <a href="{% url 'rentsplit:index' %}" class='hover-dropdown' id='hover-profile-dropdownid'>Welcome Back, {{ request.user }}!</a>

                <div class='dropdown-profile-container' id='dropdown-profile-containerid'>
    
                    <div class="dropdown-menu">

                        <div class="dropdown-menu-option">
                            <a href="{% url 'index'%}">Option</a>
                        </div>
                        
                        <div class="dropdown-menu-option">
                            <a href="{% url 'index'%}">Option</a>
                        </div>
                        
                        <div class="dropdown-menu-option">
                            <a href="{% url 'users:logout'%}">Log Out</a>
                        </div>

                    </div>

                </div>

            </div> 
            
            
            {% else %}
            {% comment %} IF USER IS NOT AUTHENTICATED {% endcomment %}
            
            <div class="right-in-div logged-out-register">
                
                <div class='next-to-eachother'>
                    <div class="logged-out-main-btns">
                        <a href="{% url 'users:login' %}" class='logged-out-nav-btn'>Log In</a>
                        <a href="{% url 'users:register' %}" class='logged-out-nav-btn'>Register For Free</a>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>

    </div> 

    {% block body %}
    {% endblock body %}

    <footer class='footer footer-next-to-eachother banner'>

        <div class="half-div left-in-div stack-divs padding-left-big">
            <div>
                <h3 class='med-text bottom-padding-small'>Roommate Dock</h3>
            </div>
            
            <div>
                <h4 class='med-text'>Get in Touch</h4>
                <h5 class='small-text bottom-padding-small'>Email</h5>
            </div>
        </div>

        <div class="half-div right-in-div stack-divs padding-right-big">
            <div class='right-in-div' style='margin-right: 0px'>
                <h3 class='med-text bottom-padding-small'>
                    Follow Us For News and Updates
                </h3>
            </div>
            <div>
                <h4 class='small-text text-right-in-div'>Social Media</h4>
                <h4 class='small-text text-right-in-div'>Social Media</h4>
                <h4 class='small-text text-right-in-div'>Social Media</h4>
            </div>

        </div>

    </footer>
</body>
</html>