<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% load compress %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'dock/script.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'dock/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'dock/notauth.js' %}"></script>
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Secular+One">


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Home</title>

    {% block head %}
    {% endblock head %}

</head>
<body>

    {% comment %} NAV BAR {% endcomment %}

    <div class="nav-container">

        <div class="nav-contents">

            <div class="left-in-div">
                <a href="{% url 'index' %}"><h3 class='nav-brand padding-left-med'>Roommate Dock</h3></a>
            </div>
            <div class="nav-options-container">

                <ul class='nav-options'>
                    <li class='nav-option'><a href="{% url 'index' %}">Home</a></li>
                    <div class='tools-menu'>
                        <li class='nav-option hover-dropdown' id='hover-tools-dropdownid'><a href="{% url 'options' %}">Tools</a></li>
                            
                        <div class="dropdown-tools-container" id='dropdown-tools-containerid'>
    
                                <div class="dropdown-menu">
    
                                    <div class="dropdown-menu-option">
                                        <a href="{% url 'options'%}">See Our Tools</a>
                                    </div>
                                    
                                    <div class="dropdown-menu-option">
                                        <a href="{% url 'rentsplit:index'%}">Dashboard</a>
                                    </div>
                                    
                                    <div class="dropdown-menu-option">
                                        {% if user.is_authenticated %}
                                            {% if request.user.profile.all %}
                                                <a href="{% url 'rentsplit:user-profile' request.user.profile.get.name %}">Your Rent Divider</a>
                                            {% else %}
                                                    <a href="{% url 'rentsplit:index'%}">Rent Divider</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'rentsplit:index' %}">Rent Divider</a>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="dropdown-menu-option">
                                        {% if request.user.profile.all %}
                                            <a href="{% url 'messageboard:index' request.user.profile.get.name%}">Your Message Board</a>
                                        {% else %}
                                            <a href="{% url 'rentsplit:index' %}">Message Board</a>
                                        {% endif %}
                                    </div>
    
                                </div>
    
                            </div>
                        </div>

                        <li class='nav-option'><a href="{% url 'index' %}">About Us</a></li>
                    </ul>


            </div>

            {% comment %} IF USER IS AUTHENTICATED THEY SEE PROFILE {% endcomment %}
            {% if user.is_authenticated %}
            
            <div class="right-in-div nav-profile">

                <a href"#" class='hover-dropdown' id='hover-profile-dropdownid'>Welcome Back, {{ request.user }}!</a>

                <div class='dropdown-profile-container' id='dropdown-profile-containerid'>
    
                    <div class="dropdown-menu">

                        <div class="dropdown-menu-option">
                            <a href="{% url 'rentsplit:index'%}">Dashboard</a>
                        </div>
                        
                        {% if request.user.profile.all %}
                            <div class="dropdown-menu-option">
                                <a href="{% url 'rentsplit:user-profile' request.user.profile.get.name%}">Your Rent Divider</a>
                            </div>
                        {% else %}
                            <div class="dropdown-menu-option">
                                <a href="{% url 'rentsplit:index'%}">Your Rent Divider</a>
                            </div>
                        {% endif %}
                        
                        {% if request.user.profile.all %}
                            <div class="dropdown-menu-option">
                                <a href="{% url 'messageboard:index' request.user.profile.get.name%}">Your Message Board</a>
                            </div>
                        {% else %}
                            <div class="dropdown-menu-option">
                                <a href="{% url 'rentsplit:index'%}">Your Message Board</a>
                            </div>
                        {% endif %}
                        
                        <div class="dropdown-menu-option">
                            <a href="{% url 'users:logout'%}">Log Out</a>
                        </div>

                    </div>

                </div>

            </div> 
            
            
            {% else %}
            {% comment %} IF USER IS NOT AUTHENTICATED {% endcomment %}
            
            <div class="right-in-div logged-out-register">
                
                <div class='next-to-eachother'>
                    <div class="logged-out-main-btns next-to-eachother">
                        <div class='logged-out-nav-btn'>
                            <a href="{% url 'users:login' %}" class='logged-out-nav-btn'>Log In</a>
                        </div>
                        <div class='logged-out-nav-btn'>
                            <a href="{% url 'users:register' %}" class='logged-out-nav-btn'>Register For Free</a>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>

    </div> 

    {% block body %}
    {% endblock body %}

    <footer class='footer banner'>

        <div class="padding-footer row">
            <div class="half-div">
                <h3 class='main-text text-align-start'>Roommate Dock</h3>
            </div>
            
            <div class="half-div">
                <h3 class='main-text text-align-end'>Meet Our Team</h3>
                <h4 class='sub-text text-align-end link'><a href="http://tommy-pham.netlify.app/" target='blank'>Click Here</a></h4>
            </div>
        </div>
        

    </footer>
</body>
</html>