{% extends 'dock/layout-landing.html' %}

{% load static %}
{% block head %}
    <script src="{% static 'dock/buttons.js' %}"></script>
{% endblock head %}

{% block body %}

    {% comment %} MAIN PART OF PAGE {% endcomment %}

    <div class="content-wrapper background-image-options-main padding-top padding-left-big vertical-center">

        <h1 class='main-text white-text big-text nav-margin'>Use our tools to make</h1>
        <h1 class='main-text white-text big-text'> rental management manageable</h1>

    </div>

    {% comment %} BANNER {% endcomment %}
    <div class="content-wrapper banner next-to-eachother padding-top-small padding-bottom-small">

        <h2 class='main-text'>With so many things in life to worry about</h2>
        <h3 class='sub-text'>This is your chance to take control of the stress of renting</h3>

    </div>

    {% comment %} Rent Splitter {% endcomment %}
    <div class="content-wrapper next-to-eachother mobile-fit-content">

        <div class="half-div padding-left-big image">
            {% load static %}
            <img src={% static 'media/landing-page-main-image.jpeg'%} alt="Rent Split" width='500px' class='padding-top'>
        </div>

        <div class="half-div center stack-divs">
            <h2 class='main-text'>We're here to handle the financial stress</h2>
            <h3 class='sub-text'>No more confusing calculations</h3>
            <h3 class='sub-text'>Just type in some numbers and we'll do the rest</h3>
            <a href="{% url 'rentsplit:index'%}" class='main-button'>Check It Out</a>

        </div>

    </div>

    {% comment %} Rent Splitter {% endcomment %}
    <div class="content-wrapper next-to-eachother padding-left-big mobile-flip mobile-fit-content">
        <div class="half-div center stack-divs">
            <h2 class='main-text'>Let us help you organize important messages</h2>
            <h3 class='sub-text'>Stop losing critical information in group chats</h3>
            <h3 class='sub-text'>Post your essential communications on your rental's message board</h3>
            <a href="{% url 'rentsplit:index'%}" class='main-button'>Check It Out</a>

        </div>

        <div class="half-div margin-bottom image">
            {% load static %}
            <img src={% static 'media/landing-page-main-image.jpeg'%} alt="Rent Split" width='500px' class='padding-top'>
        </div>


    </div>

{% endblock body %}
